@import "mixin";
@import "normalize";

@font-face {
  font-family: 'brownbold';
  src: url('../fonts/brown-bold-webfont.woff2') format('woff2'),
  url('../fonts/brown-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cera_round_proregular';
  src: url('../fonts/typemates_-_ceraroundpro-regular-webfont.woff2') format('woff2'),
  url('../fonts/typemates_-_ceraroundpro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  box-sizing: border-box
}

.button{
  @include button;
}

a{
  color:  #2e3847;
  text-decoration: none;
}

img{
  max-width: 100%;
  margin: 0;
  display: block;
}
/********************************навигация************************************************/


.nav{
  display: flex;
  justify-content: space-between;
  padding: 18px 0 2px;
  margin: 0 123px;

  &__element_blue{
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    height: 0;
    width: 40px;
    border-top: 142px solid rgba(41, 152, 204, 0.78);
    border-right: 96px solid transparent;
    border-left: 21px solid rgba(41, 152, 204, 0.78);
  }

  &__section_right{
    display: flex;

    ul{
      padding: 19px 93px 0;

      li{
        @include font-face_first;
        color:  #2e3847;
        font-size: 12px;
        list-style: none;
        display: inline;
        text-transform: uppercase;
        padding-left: 33px;

        &:last-child{
          padding-right: 0;
        }

      }

    }

    .button{
      border: 2px solid #413281;
      color: #413281;
      padding: 20px 36px 19px 34px;

      &:hover{
        background: #413281;
        color: white;
      }

    }

  }

  &__logo{
    padding: 14px 0 0 5px;
  }

}

.menu__button {
  display: none;
  width: 60px;
  padding: 7px 0;
  border: 1px solid #2998cc;
  border-radius: 5px;
  background: transparent;
  font-size: 0;
  line-height: 0;
  cursor: pointer;

  span {
    display: inline-block;
    height: 1px;
    background-color: #2998cc;
    margin: 5px 0;
    width: 80%;
    font-size: 0;
    line-height: 0;
  }

}
/******************************************фон первой страницы************************************/

.banner {

position: relative;
  &_background {
    background-image: url("../img/bg.jpg") ;
    background-size: cover;
    position: relative;
    color: white;

    .banner__parallelogram_absolute{
      position: absolute;
      top: 36%;
      left: 14%;
      background-color: rgba(120, 173, 212, 0.72);
      width: 119px;
      height: 56px;
      transform:skewX(139deg);
    }

    .banner-content__text {
      position: relative;
      z-index: 2;
      text-align: left;
      padding: 16% 0 18.5% 15.9%;;

      h2 {
        @include font-face_first;
        text-transform: uppercase;
        font-size: 44px;
        padding-bottom: 44px;
        letter-spacing: 1px;
      }

      .button {
        border: 2px solid white;
        color: white;
        margin-right: 20px;
        padding: 19px 26px;

        &:last-child {
          margin-right: 0;
        }

        &:nth-child(2) {
          padding: 19px 49px;
        }

        &:hover {
          background: white;
          color: #413281;
        }

      }

    }

  }

  /************************************голубой блок с отсчетом времени***************************************/

  .clock-container{
    @include font-face_first;
    color: white;
    position: absolute;
    left: -67px;



    h4{
      font-size: 24px;
      text-transform: uppercase;
      padding-top: 43px;
      text-align: right
    }

      .clock{
        display: flex;
        font-size: 24px;

        .column {
          padding-left: 39px;

          .text {
            font-size: 11px;
            text-align: center;
            padding-top: 27px;
          }

          .timer {
            text-align: center;
            font-size: 48px;
            padding-top: 4px;
          }
        }
          .hours {
            color: #d4eaf5;
          }

          .minutes {
            color: #a9d6eb;
          }

          .seconds {
            color: #7fc1e0;
            min-width: 98px;
          }


      }

  }

  &__clock_background {
    position: absolute;
    right: 0;
    bottom: 52px;
    border-bottom: 210px solid #2998cc;
    border-left: 193px solid transparent;
    border-right: 434px solid #2998cc;
  }

}

/********************************************слайдер*************************************/

.block-reviews{
  @include font-face_second;
  position: relative;
  margin-top: 47px;
  display: block;

  &__element_grey{
    position: absolute;
    top:-2px;
    right: 0;
    z-index: 2;
    border-top: 391px solid #f7f8fa;
    border-left: 392px solid transparent;
  }

  &_single-item{
    max-width: 91%;
    position: relative;


    .block-reviews__slider{
      position: relative;

      img{
        width: 100%;
      }

    }

    .block-reviews__slider__content{
      position: absolute;
      top: 67px;
      left: 17.6%;
      color: white;

      &__container_top{
        display: flex;
        justify-content: center;
        max-width: 722px;

        .block-reviews__slider__content__text{
          max-width: 612px;
          padding-left: 52px;

          p{
            color:  white;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
          }

        }

      }

      &__container_bottom {
        display: flex;
        padding-top: 40px;

        .block-reviews__slider__content__text {
          max-width: 161px;
          padding-left: 31px;
          padding-top: 7px;

          p{
            color:  white;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            text-align: left;

            &:last-child{
              color:  rgba(255, 255, 255, 0.5);
            }

          }

        }

        .block-reviews__slider__content__img {
          max-width: 72px;
        }

      }
    }
  }

  .block-reviews__slider-arrow__container{
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 10.6%;
    padding-left: 15px;

    .slider-arrow__text__container{
      display: flex;
      color: white;
      padding: 20px 24px 0 20px;

      p{
        padding-right: 3px;
        font-size: 12px;
        color: rgb(255,255,255);
      }
    }

    .slider-arrow_right{
      width: 81px;
      height: 49px;
      background-color: #2998cc;
      transform: skewX(46deg);
    }

    .slider-arrow_left{
      width: 81px;
      height: 49px;
      background-color: #041132;
      transform: skewX(46deg);
    }

  }

}

.img__arrow_right{
  padding: 20px;
  position: absolute;
  z-index: 2;
  bottom: -2px;
  right: 30px;
  cursor: pointer;
}

.img__arrow_left{
  padding: 20px;
  position: absolute;
  z-index: 2;
  bottom: -2px;
  right: 198px;
  cursor: pointer;
}
/********************************************список*********************************/

.block-timeline {
  @include font-face_first;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #ebedf1;

  &__text_top {
    position: relative;
    max-width: 760px;
    margin: 0 auto;

    p {
      color: #f2f3f5;
      font-size: 144px;
      letter-spacing: 7px;
      margin: 0;
    }

    .block-timeline__text_absolute {
      position: absolute;
      top: 56px;
      left: 0;
      right: 0;
      z-index: 2;
      margin: 0 auto;
      max-width: 516px;
      letter-spacing: 1px;

      h3 {
        color: #000221;
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
        text-transform: uppercase;

      }

    }

    .block-timeline__parallelogram_absolute {
      position: absolute;
      top: 60px;
      left: 115px;
      z-index: 1;
      width: 86px;
      height: 40px;
      background-color: #2998cc;
      transform: skewX(139deg);
    }
  }

  &__container {
    padding: 10px 0 61px;;
    max-width: 1030px;
    margin: 0 auto 0;

    .block-timeline__timeline {
      position: relative;
      margin: 0 auto;

      .content {
        padding-bottom: 12px;
        position: relative;

        p {
          @include font-face_first;
          font-size: 16px;
          color: #2e3847;
          text-align: left;
          padding-bottom: 5px;
          letter-spacing: 0;
        }

        li {
          @include font-face_second;
          color: #2e3847;
          font-size: 14px;
          font-weight: 400;
          text-align: left;
          line-height: 20px;
        }

      }

      &__container_left {
        position: relative;
        background-color: inherit;
        width: 50%;
        left: 0;

        &::after {
          @include circle;
          right: -7px;
          top: 9px;
        }

        &:hover:after {
          background-color: #2998cc;
        }

        .block-timeline__timeline__content_left {

          ul {
            padding-left: 77px;
            padding-right: 45px;
            padding-bottom: 7px;
            border-right: 2px dashed #dde3eb;

            li {
              padding-left: 7px;
            }

          }

          &:hover {

            p {
              color: #2998cc;
            }

          }

          p {
            padding-top: 10px;
            padding-left: 47px;

            &::after {
              content: '';
              position: absolute;
              top: 16px;
              left: 143px;
              width: 68%;
              height: 2px;
              background-color: #dde3eb;
            }
          }

        }

      }

      &__container_right {
        position: relative;
        background-color: inherit;
        width: 50%;
        left: 49.9%;

        &::after {
          @include circle;
          left: -8px;
          top: 0;
        }

        &:hover:after {
          background-color: #2998cc;
        }

        .block-timeline__timeline__content_right {

          ul {
            padding-left: 132px;
            border-left: 2px dashed #dde3eb;

            li {
              padding-left: 10px;
              max-width: 623px;
            }

          }

          &:hover {

            p {
              color: #2998cc;
            }

          }

          p {
            padding-left: 112px;

            &::before {
              content: '';
              position: absolute;
              top: 12px;
              left: 25px;
              width: 12%;
              height: 2px;
              background-color: #dde3eb;
            }

          }

        }
      }

      &__container_center {
        position: relative;
        background-color: inherit;
        width: 50%;
        left: 31%;
        max-width: 245px;


        .block-timeline__timeline__content_center {
          padding-top: 4px;

          p {
            text-align: right;
            font-size: 24px;
            color: #000221;
            padding: 13px 23px 10px 0;
          }

          li {
            padding-left: 15px;

          }

          img {
            margin: 0 196px 0 173px;
          }

        }

      }
    }
  }

  /****************************************************ховер***********************************/


  .block-timeline__timeline__container_left > .content ul:hover{
    border-right: 2px solid #2998cc;
  }



  .block-timeline__timeline__container_right > .content ul:hover {
    border-left: 2px solid #2998cc;
  }

}
/***********************************соцсети**********************************************/

.block-links{
  position: relative;
  padding: 30px 126px;
  text-align: center;

  &__logo{
    position: absolute;
    top: 32px;
  }

  ul{
    padding: 10px 0;

      li{
        list-style: none;
        display: inline;
        padding-right: 23px;
        color: #9babb8;

          a{
            color: #9babb8;
            display: inline-block;
          }

        &:last-child{
          padding-right: 0;
        }
      }
    }
}

.footer{
  @include font-face_second;
  font-size: 12px;
  color:  rgba(0, 18, 51, 0.6);
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  background: #f7f8fa;
  padding: 37px 123px;

  &__links__container{
    display: flex;

    p {
      padding-right: 23px;

        a{
          color: rgba(0, 18, 51, 0.6);
        }

      &:last-child{
        padding-right: 0;
      }
    }
  }
}

/*************************************адаптив*****************************************/


@media (max-width: 1300px) {
  #text{
  padding: 15% 0 36% 12%;
  }

  section.block-reviews{
    background: #01021b;

    .block-reviews__slider{
      background: #01021b;

       .block-reviews__slider__content{
          top: 30px;
          left: 100px;

        }

    }

    .block-reviews__element_grey{
      display: none;
    }

  }
}

@media (max-width: 1070px) {

  #text{
    padding: 25% 0 36% 12%;
  }

  .nav {
    position: relative;
    display: flex;
    margin: 0 ;

    ul {
      display: none;
      position: absolute;
      z-index: 2;
      top: 92px;
      left: 0;
      text-align: center;
      width: 100%;
      padding: 0;
      background-color: rgba(120, 173, 212, 0.72);
    }

    #top-menu li {
      display: block;
      margin: 15px 0;
      padding: 0;

      a{
        color: white;
        font-size: 16px;
      }

    }

    .button{
      margin-left: 40px;
    }

    .menu__button {
      display: inline-block;
    }

  }

  .banner__parallelogram_absolute{
    display: none;
  }

  .block-timeline__timeline{

    .container{
      padding-bottom: 30px;
    }

    .block-timeline__timeline__container_left {
      left:25%;

      .block-timeline__timeline__content_left{

        ul{
          padding-left: 0;
          padding-right: 20px;
        }

        P{
          padding-left: 0;
          &::after{
            content: none;
          }
        }

      }

    }

    .block-timeline__timeline__container_right {
      left: 25%;

      &:after {
        content: none;

      }

      &:hover:before {
        background-color: #2998cc;
      }

      &::before {
        @include circle;
        right: -8px;
        top: 0;
      }

      .block-timeline__timeline__content_right{

        ul{
          padding-left: 0;
          border-left: none;
          border-right: 2px dashed #dde3eb ;
          padding-right: 20px;
        }

        P{
          padding-left: 0;
          &::before {
            content: none;
          }
        }
      }



    }
    .block-timeline__timeline__container_right > .content ul:hover {
      border-right: 2px solid #2998cc;
      border-left: none;
    }


    .block-timeline__timeline__container_center {
      left: 25%;
      max-width: 245px;

      .block-timeline__timeline__content_center{

        ul{
          padding-left: 0;
        }

      }

    }

  }

}

@media (max-width: 970px){

  .nav__element_blue{
    display: none;
  }

  #text{
    padding: 25% 0 36% 7%;
  }


  .block-reviews{
    display: none;
  }
}

@media all and (max-width: 750px){

  #text{
    padding: 30% 0 43% 7%;
  }

  .block-timeline__text_top{

    p{
      display: none;
    }

    .block-timeline__text_absolute{
      position: static;

    }

    .block-timeline__parallelogram_absolute{
      display: none;
    }

  }

  .block-links{
    padding-right: 40px ;
    padding-left: 40px;

    .block-links__logo{
      display: none;
    }

  }

  .footer{
    padding-right: 40px;
    padding-left: 40px;

    .footer__links__container{
      display: block;

      p{
        padding-bottom: 21px;
      }

    }

  }



}

@media  (max-width: 620px){

  #text{
    padding: 198px 0 248px 10px;
  }

  .button{
    margin-bottom: 20px;
  }



  .banner .clock-container{
    left: 0;


  }

}

@media all and (max-width: 460px){

  .banner__clock_background{
    display: none;
  }

  .block-links{
    i{
      margin-top: 16px;
    }
  }
}

