@import "vb";
@import "mixin";
@import "normalize";

@font-face {
  font-family: 'brownbold';
  src: url('../fonts/brown-bold-webfont.woff2') format('woff2'),
  url('../fonts/brown-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cera_round_proregular';
  src: url('../fonts/typemates_-_ceraroundpro-regular-webfont.woff2') format('woff2'),
  url('../fonts/typemates_-_ceraroundpro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  box-sizing: border-box
}

.button{
  @include button;
}

a{
  color:  #2e3847;
  text-decoration: none;
}

img{
  max-width: 100%;
  display: block;
}


.nav{
  display: flex;
  padding: 18px 0 5px;
  margin: 0 123px;
  justify-content: space-between;
  .nav__list--button{
    display: flex;
    flex-wrap:nowrap ;
    justify-content: space-between;
  }
  .nav__logo{
    padding-top: 14px;
    padding-left: 5px;
  }
  ul{
    padding: 19px 96px 0;
  }
  li{
    font-family: Brown,sans-serif;
    color:  #2e3847;
    font-size: 12px;
    font-weight: 700;
    list-style: none;
    display: inline;
    text-transform: uppercase;
    padding-right: 29px;
    &:last-child{
      padding-right: 0;
    }
  }
  .button{
    border: 2px solid #413281;
    color: #413281;
    padding: 22px 33px 18px 34px;
  }
}
.banner {
  .banner-img {
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    .banner-content__parallelogram-absolute{
      position: absolute;
      top: 217px;
      left: 189px;
      z-index: 1;
      background-color: rgba(120, 173, 212, 0.72);
      width: 119px;
      height: 56px;
      transform:skewX(139deg);
    }
    .banner-content__text {
      position: relative;
      z-index: 2;
      text-align: left;
      padding: 219px 0 248px 216px;
      h2 {
        font-family: Brown, sans-serif;
        text-transform: uppercase;
        color: white;
        font-size: 44px;
        font-weight: 700;
        padding-bottom: 42px;
      }
      .button {
        border: 2px solid white;
        color: white;
        margin-right: 25px;
        padding: 19px 23px;
        &:last-child {
          margin-right: 0;
        }
        &:nth-child(2) {
          padding: 19px 45px;
        }
        &:hover {
          background: white;
          color: #413281;
        }
      }
    }
  }
  .data {
    font-family: Brown, sans-serif;
    font-weight: 700;
    position: absolute;
    right: 0;
    top:435px;
    background: #2998cc;
    color: white;
    padding-left: 169px;
    padding-right: 123px;
    p {
      font-size: 24px;
      text-transform: uppercase;
      padding-top: 43px;
      text-align: right;
    }
    .data__container {
      display: flex;
      text-align: center;
      padding-bottom: 35px;
      p {
        font-size: 11px;
        text-align: center;
        padding-top: 27px;
        &:last-child {
          font-size: 48px;
          padding-top: 10px;
        }
      }
      .data__container-hours p {
        color: #d4eaf5;
        padding-left: 39px;
      }
      .data__container-minutes p {
        color: #a9d6eb;
        padding-left: 39px;
      }
      .data__container-seconds p {
        color: #7fc1e0;
        padding-left: 39px;
      }
    }
  }
  .element_blue{
    position: absolute;
    top: 0;
    background:rgba(41, 152, 204, 0.78);
    height: 148px;
    width: 116px;
    border-right: 50px solid transparent;
  }
}

/********************************************слайдер*************************************/

.block-reviews{
  margin-top: 20px;
  display: block;
  .block-reviews__slider{
    position: relative;
    img{
      width: 100%;
    }
  }
  .block-reviews__slider__content{
    position: absolute;
    top: 65px;
    left: 21%;
    right: 15%;
    color: white;
  }
  .block-reviews__slider__content__container.element1{
    display: flex;
    justify-content: center;
    max-width: 722px;
    .block-reviews__slider__content__text{
      max-width: 533px;
      padding-left: 46px;
      p{
        font-family: Cera, sans-serif;
        color:  white;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
      }
    }
  }
  .block-reviews__slider__content__container.element2 {
    display: flex;
    padding-top: 52px;
    .block-reviews__slider__content__text {
      max-width: 151px;
      padding-left: 23px;
      p{
        font-family: Cera,sans-serif;
        color:  white;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        &:last-child{
          color:  rgba(255, 255, 255, 0.5);
        }
      }
    }
      .block-reviews__slider__content__img {
        max-width: 72px;
      }
  }
  .block-reviews__element{
    position: absolute;
    max-width: 28%;
    top: 0;
    right: 0;
    img{
      display: block;
      width: 100%;
    }
  }
}
/********************************************список*********************************/

.block-list {
  font-family: Brown, sans-serif;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #ebedf1;
  p {
    color: #f2f3f5;
    font-size: 144px;
    font-weight: 700;
    letter-spacing: 8px;
  }
  .block-list__text_absolute {
    position: absolute;
    z-index: 2;
    margin: 0 auto;
    top: 56px;
    left: 0;
    right: 0;
    max-width: 516px;
    h3 {
      color: #000221;
      font-size: 32px;
      font-weight: 700;
      line-height: 40px;
      text-transform: uppercase;
    }
  }
  .block-list__parallelogram_absolute {
    position: absolute;
    top: 57px;
    left: 416px;
    z-index: 1;
    width: 86px;
    height: 40px;
    background-color: #2998cc;
    transform: skewX(130deg);
  }
  .block-list__container {
    padding: 0 0 67px;
    max-width: 1000px;
    margin: -6px auto 0 ;
  }
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  /* The actual timeline (the vertical ruler) */
  .right > .content::before {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #dde3eb;
    top: 51px;
    bottom: -8px;
    right: 125%;
  }
  .right_line p::before {
    content: '';
    position: absolute;
    top: 29px;
    left: -80px;
    width: 16%;
    height: 2px;
    background-color: #dde3eb;
  }
  .left > .content::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #dde3eb;
    top: 51px;
    bottom: -8px;
    left: 125%;
  }
  .left_line p::after {
    content: '';
    position: absolute;
    top: 29px;
    left: 80px;
    width: 100%;
    height: 3px;
    background-color: #dde3eb;
  }
  /* Container around content */
  .container {
    position: relative;
    background-color: inherit;
    width: 50%;
    .center_line {
      img {
        margin: 0 196px 0 156px;
      }
      .content__img {
        display: inline;
        margin: 0 auto;
        text-align: center;
      }
      p {
        text-align: center;
        font-family: Brown, sans-serif;
        color: #000221;
        font-size: 24px;
        font-weight: 700;
        padding-right: 40px;
        padding-top: 16px;
      }
    }
  }

  /* The circles on the timeline */
  .left::after {
    @include circle;
  }
  .right::after {
    @include circle;
  }
  .left:hover:after {
    background-color: #2998cc;
  }
  .left > .content:hover:after {
    background-color: #2998cc;
  }
  .right:hover:after {
    background-color: #2998cc;
  }
  .right > .content:hover:before {
    background-color: #2998cc;
  }
  .right_line p:hover {
    color: #2998cc;
  }
  .left_line:hover {
    p {
      color: #2998cc;
    }
  }
  .right_line :hover {
    p {
      color: #2998cc;
    }

  }

  /* Place the container to the left */
  .left {
    left: 0;
  }

  /* Place the container to the right */
  .right {
    left: 50%;
    padding-left: 103px;
  }
  .center {
    left: 32%;
  }

  /* Fix the circle for containers on the right side */
  .right::after {
    left: -6px;
  }

  /* The actual content */
  .content {
    padding: 16px 0 ;
    position: relative;
    max-width: 400px;

    p {
      font-family: Brown, sans-serif;
      color: #2e3847;
      font-size: 16px;
      font-weight: 700;
      text-align: left;
      padding-bottom: 5px;
    }
    li {
      font-family: Cera, sans-serif;
      color: #2e3847;
      font-size: 14px;
      font-weight: 400;
      text-align: left;
      line-height: 20px;
    }
  }
}
.left_line ul{
  padding-left: 57px;
  li{
    padding-left: 10px;
  }
}
//
//  /* Media queries - Responsive timeline on screens less than 600px wide */
//  @media screen and (max-width: 600px) {
//    /* Place the timelime to the left */
//    .timeline::after {
//      left: 31px;
//    }
//
//    /* Full-width containers */
//    .container {
//      width: 100%;
//      padding-left: 70px;
//      padding-right: 25px;
//    }
//
//    /* Make sure that all arrows are pointing leftwards */
//    .container::before {
//      left: 60px;
//      border: medium solid white;
//      border-width: 10px 10px 10px 0;
//      border-color: transparent white transparent transparent;
//    }
//
//    /* Make sure all circles are at the same spot */
//    .left::after, .right::after {
//      left: 15px;
//    }
//
//    /* Make all right containers behave like the left ones */
//    .right {
//      left: 0%;
//    }
//  }
//}


/***********************************соцсети**********************************************/

.block-links{
  position: relative;
  padding: 30px 123px;
  text-align: center;
  .block-links-logo{
    position: absolute;
    max-width: 115px;
  }
ul{
  padding: 10px 0;
  align-self:center;
}
  li{
    list-style: none;
    display: inline;
    padding-right: 20px;
    color: #9babb8;
    a{
      color: #9babb8;
    }
    &:last-child{
      padding-right: 0;
    }
  }
}

.footer{
  display: flex;
  justify-content: space-between;
  background: #f7f8fa;
  padding: 37px 123px;
  font-family: Cera, sans-serif;
  color:  rgba(0, 18, 51, 0.6);
  font-size: 12px;
  font-weight: 400;
  .footer_links{
    display: flex;
    justify-content: space-around;
    p {
      padding-right: 23px;
      a{
        color: rgba(0, 18, 51, 0.6);
      }
      &:last-child{
        padding-right: 0;
      }
    }
  }
}
