@import "vb";
@import "mixin";
@import "normalize";

@font-face {
  font-family: 'brownbold';
  src: url('../fonts/brown-bold-webfont.woff2') format('woff2'),
  url('../fonts/brown-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cera_round_proregular';
  src: url('../fonts/typemates_-_ceraroundpro-regular-webfont.woff2') format('woff2'),
  url('../fonts/typemates_-_ceraroundpro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  box-sizing: border-box
}

.button{
  @include button;
}

a{
  color:  #2e3847;
  text-decoration: none;
}

img{
  max-width: 100%;
  margin: 0;
  display: block;
}
/********************************навигация************************************************/

.nav{
  @include flexbox;
  @include space-between;
  padding: 18px 0 5px;
  margin: 0 123px;


  .nav__list--button{
    @include flexbox;
  }

  .nav__logo{
    padding: 14px 0 0 5px;
  }

  ul{
    padding: 19px 93px 0;

    li{
      @include font-face_first;
      color:  #2e3847;
      font-size: 12px;
      list-style: none;
      display: inline;
      text-transform: uppercase;
      padding-left: 33px;

      &:last-child{
        padding-right: 0;
      }

    }

  }

  .button{
    border: 2px solid #413281;
    color: #413281;
    padding: 20px 36px 19px 34px;

    &:hover{
      background: #413281;
      color: white;
    }

  }

}
/******************************************фон первой страницы************************************/
.banner {

  .banner-img {
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    color: white;

    .banner-content__parallelogram-absolute{
      position: absolute;
      top: 217px;
      left: 189px;
      z-index: 1;
      background-color: rgba(120, 173, 212, 0.72);
      width: 119px;
      height: 56px;
      transform:skewX(139deg);
    }

    .banner-content__text {
      position: relative;
      z-index: 2;
      text-align: left;
      padding: 219px 0 248px 216px;

      h2 {
        @include font-face_first;
        text-transform: uppercase;
        font-size: 44px;
        padding-bottom: 42px;
        letter-spacing: 1px;
      }

      .button {
        border: 2px solid white;
        color: white;
        margin-right: 20px;
        padding: 19px 26px;

        &:last-child {
          margin-right: 0;
        }

        &:nth-child(2) {
          padding: 19px 49px;
        }

        &:hover {
          background: white;
          color: #413281;
        }

      }

    }

  }

  /************************************голубой блок с отсчетом времени***************************************/

  .clock-container{
    @include font-face_first;
    color: white;
    position: absolute;
    right: 124px;
    top: 435px;

    h4{
      font-size: 24px;
      text-transform: uppercase;
      padding-top: 43px;
      text-align: right
    }

  .clock{
    @include flexbox;
    font-size: 24px;


    .column{
      padding-left: 38px;
    }

    .text{
      font-size: 11px;
      text-align: center;
      padding-top: 27px;
    }

    .timer{
      text-align: center;
      font-size: 48px;
      padding-top: 4px;
    }

    .hours{
      color: #d4eaf5;
    }

    .minutes{
      color: #a9d6eb;
    }

    .seconds{
      color: #7fc1e0;
    }

  }

}

.data {
  position: absolute;
  right: 0;
  top: 435px;
  padding-left: 169px;
  padding-right: 123px;
  border-bottom: 209px solid #2998cc;
  border-left: 192px solid transparent;
  border-right: 141px solid #2998cc;
}


/*************************************голубой элемент в верхнем левом углу*******************/
  .element_blue{
    position: absolute;
    top: 0;
    height: 0;
    width: 40px;
    border-top: 142px solid rgba(41, 152, 204, 0.78);
    border-right: 96px solid transparent;
    border-left: 21px solid rgba(41, 152, 204, 0.78);
  }
}

/********************************************слайдер*************************************/

.block-reviews{
  @include font-face_second;
  position: relative;
  margin-top: 20px;
  display: block;

  .block-reviews__element_grey{
    position: absolute;
    top:28px;
    right: 0;
    z-index: 2;
    border-top: 385px solid #f7f8fa;
    border-left: 385px solid transparent;
  }

  .single-item{
    max-width: 91%;
    position: relative;
  }

  .block-reviews__slider{
    position: relative;
    padding-top: 29px;

    img{
      width: 100%;
    }

  }

  .block-reviews__slider__content{
    position: absolute;
    top: 94px;
    left: 17.6%;
    color: white;
  }

  .block-reviews__slider__content__container.element1{
    @include flexbox;
    justify-content: center;
    max-width: 722px;



    .block-reviews__slider__content__text{
      max-width: 612px;
      padding-left: 52px;

      p{
        color:  white;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
      }

    }

  }

  .block-reviews__slider__content__container.element2 {
    @include flexbox;
    padding-top: 40px;

    .block-reviews__slider__content__text {
      max-width: 161px;
      padding-left: 31px;
      padding-top: 7px;

      p{
        color:  white;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;

        &:last-child{
          color:  rgba(255, 255, 255, 0.5);
        }

      }

    }

      .block-reviews__slider__content__img {
        max-width: 72px;
      }

  }

  .slider-arrow__container{
    @include flexbox;
    @include row;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 10.6%;
    padding-left: 15px;

    .slider-arrow_text{
      @include flexbox;
    }

    .slider-arrow_right{
      width: 81px;
      height: 49px;
      background-color: #2998cc;
      transform: skewX(46deg);
    }

    .slider-arrow_left{
      width: 81px;
      height: 49px;
      background-color: #041132;
      transform: skewX(46deg);
    }

  }

  .slider-arrow_text{
    color: white;
    padding: 20px 24px 0 20px;

    p{
      padding-right: 3px;
      font-size: 12px;
      color: rgb(255,255,255);
    }

  }

}

.arrow_right{
  padding: 20px;
  position: absolute;
  z-index: 2;
  bottom: -2px;
  right: 30px;
}

.arrow_left{
  padding: 20px;
  position: absolute;
  z-index: 2;
  bottom: -2px;
  right: 198px;
}
/********************************************список*********************************/

.block-list {
  @include font-face_first;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #ebedf1;
  padding-top: 10px;

  .block-list__text {
    position: relative;
    max-width: 760px;
    margin: 0 auto;
  }

  p {
    color: #f2f3f5;
    font-size: 144px;
    letter-spacing: 4px;
  }

  .block-list__text_absolute {
    position: absolute;
    top: 47px;
    left: 0;
    right: 0;
    z-index: 2;
    margin: 0 auto;
    max-width: 516px;
    letter-spacing: 1px;

    h3 {
      color: #000221;
      font-size: 32px;
      font-weight: 700;
      line-height: 40px;
      text-transform: uppercase;
    }

  }

  .block-list__parallelogram_absolute {
    position: absolute;
    top: 50px;
    left: 115px;
    z-index: 1;
    width: 86px;
    height: 40px;
    background-color: #2998cc;
    transform: skewX(139deg);
  }

  .block-list__container {
    padding: 0 0 61px;
    max-width: 1030px;
    margin: 0 auto 0;

    .container {
      position: relative;
      background-color: inherit;
      width: 50%;

      .content {
        padding-bottom: 12px;
        position: relative;

        p {
          @include font-face_first;
          font-size: 16px;
          color: #2e3847;
          text-align: left;
          padding-bottom: 5px;
          letter-spacing: 0;
        }

        li {
          @include font-face_second;
          color: #2e3847;
          font-size: 14px;
          font-weight: 400;
          text-align: left;
          line-height: 20px;
        }

      }

      .first {
        padding: 0 0 11px;
      }
      .fourth{
        padding-top: 5px;
      }

    }

    .content.center_line {

      li {
        padding-left: 15px;


      }

      img {
        margin: 0 196px 0 173px;
      }

      p {
        text-align: right;
        font-size: 24px;
        color: #000221;
        padding: 13px 23px 10px 0;

      }
    }

    .left_line {

      ul {
        padding-left: 77px;
        padding-bottom: 7px;
        border-right: 2px dashed #dde3eb;

        li {
          padding-left: 7px;
        }

      }

      p {
        padding-top: 10px;
        padding-left: 47px;
      }

    }

    .right_line {
      ul{
        padding-left: 132px;
        border-left: 2px dashed #dde3eb;
      }
      li {
        padding-left: 10px;
        max-width: 623px;
      }

      p {
        padding-left: 112px;
      }

    }
  }

  .left {
    left: 0;
  }

  .right {
    left: 49.9%;

  }
  .center {
    left: 31%;
    max-width: 245px;
  }

  /************************таймлайн********************************/

  .timeline {
    position: relative;
    margin: 0 auto;
  }

  //.right > .content::before {
  //  content: '';
  //  position: absolute;
  //  width: 2px;
  //  background-color: #dde3eb;
  //  top: 34px;
  //  bottom: -1px;
  //  right: 122%;
  //}
  //
  //.left > .content::after {
  //  content: '';
  //  position: absolute;
  //  width: 2px;
  //  background-color: #dde3eb;
  //  top: 51px;
  //  bottom: -8px;
  //  left: 118%;
  //}

  /******************************линия после даты********************************/

  .right_line p::before {
    content: '';
    position: absolute;
    top: 12px;
    left: 25px;
    width: 12%;
    height: 2px;
    background-color: #dde3eb;
  }

  .second.right_line p::before {
    top: 8px;
  }

  .left_line p::after {
    content: '';
    position: absolute;
    top: 16px;
    left: 129px;
    width: 69%;
    height: 2px;
    background-color: #dde3eb;
  }

  .first.left_line p:after {
    top: 17px;
  }

  /********************************************** круги на тайм линии ***********************/

  .left::after {
    @include circle;
    right: -7px;
    top: 9px;
  }

  .right::after {
    @include circle;
    left: -8px;
    top: 0;
  }

  .first_dot::after {
    right: -7px;
    top: 10px;
  }

  .second_dot::after {
    top: 0;
  }

  /****************************************************ховер***********************************/

  .left:hover:after {
    background-color: #2998cc;
  }

  .left > .content ul:hover {
    border-right: 2px solid #2998cc;
  }

  .right:hover:after {
    background-color: #2998cc;
  }

  .right > .content ul:hover {
    border-left: 2px solid #2998cc;
  }

  .content.right_line:hover {

    p{
    color: #2998cc;
    }

  }

  .content.left_line:hover {

    p {
      color: #2998cc;
    }

  }

}

  ///* Fix the circle for containers on the right side */
  //.right::after {
  //  left: -18px;
  //}

  /* The actual content */

//
//  /* Media queries - Responsive timeline on screens less than 600px wide */
//  @media screen and (max-width: 600px) {
//    /* Place the timelime to the left */
//    .timeline::after {
//      left: 31px;
//    }
//
//    /* Full-width containers */
//    .container {
//      width: 100%;
//      padding-left: 70px;
//      padding-right: 25px;
//    }
//
//    /* Make sure that all arrows are pointing leftwards */
//    .container::before {
//      left: 60px;
//      border: medium solid white;
//      border-width: 10px 10px 10px 0;
//      border-color: transparent white transparent transparent;
//    }
//
//    /* Make sure all circles are at the same spot */
//    .left::after, .right::after {
//      left: 15px;
//    }
//
//    /* Make all right containers behave like the left ones */
//    .right {
//      left: 0%;
//    }
//  }
//}


/***********************************соцсети**********************************************/

.block-links{
  position: relative;
  padding: 30px 126px;
  text-align: center;

  .block-links-logo{
    position: absolute;
    top: 32px;
  }

  ul{
    padding: 10px 0;

      li{
        list-style: none;
        display: inline;
        padding-right: 23px;
        color: #9babb8;

          a{
            color: #9babb8;
          }

        &:last-child{
          padding-right: 0;
        }
      }
    }
}

.footer{
  @include font-face_second;
  font-size: 12px;
  color:  rgba(0, 18, 51, 0.6);
  font-weight: 400;
  @include flexbox;
  @include space-between;
  background: #f7f8fa;
  padding: 37px 123px;

  .footer_links{
    @include flexbox;

    p {
      padding-right: 23px;

        a{
          color: rgba(0, 18, 51, 0.6);
        }

      &:last-child{
        padding-right: 0;
      }
    }
  }
}


