@mixin button{
  font-family: brownbold, sans-serif;
  outline: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius:6px ;
  text-transform: uppercase;
  background: transparent;
}

@mixin circle{
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #dde3eb;
  border-radius: 50%;
  z-index: 1;
}

@mixin font-face_first{
  font-family: brownbold, sans-serif;
  font-weight: 700;
}

@mixin font-face_second{
  font-family: cera_round_proregular, sans-serif;
  font-weight: 700;
}


